<div class="message" data-booking-id="<%= booking.id %>">
  <%  if User.find(booking.user_id).photo.url != nil %>
  <%= image_tag User.find(booking.user_id).photo.url(:thumnail), :class => "avatar avatar-border-turqoise" %>
  <% else %>
  <i class="far fa-user avatar-border-turqoise-i" style="font-size: 24px"></i>
  <% end %>
  <div class="message-name">
    <h3> Created by: <%= User.find(booking.tour.user_id).first_name%></h3>
    <p> <%=booking.created_at.strftime("%b %e, %l:%M %p")%></p>
  </div>
  <div class="message-body tourist">
    <%=link_to tour_path(Tour.find(booking.tour_id)) do %>
    <p><strong><%=Tour.find(booking.tour_id).title%></strong>
    <%end%>

      <%  if Review.where(user_id: current_user.id, booking_id: booking.id).any? %>
      <a id="review-link" href="#" data-toggle="modal" data-target="#review-<%=booking.id%>"> (Edit Review)</a>
      <%else%>
      <a id="review-link" href="#" data-toggle="modal" data-target="#review-<%=booking.id%>"> (Add Review)</a>
      <%end%>

    </p>
  </div>
  <%if booking.status == nil || "accepted"%>
  <div class="message-status">
    <p class="status accepted">Booked</p>
    <%end%>
    <p class="message-price"><%=(Tour.find(booking.tour_id)).price.to_i%>€</p>
<!--     <%= link_to tour_booking_path(Tour.find(booking.tour_id), booking), method: :delete,remote: true, :class => "message-link" do %>
    <i class="far fa-trash-alt"></i>
    <%end%> -->
  </div>
</div>


<%  if Review.where(user_id: current_user.id, booking_id: booking.id).any? %>
<%     review = Review.where(user_id: current_user.id, booking_id: booking.id).first %>
<%    else %>
<%      review = Review.new %>
<%   end %>
<%    tour = Tour.find(booking.tour_id) %>


<!-- Modal -->
<div class="modal fade" id="review-<%=booking.id%>" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header show-modal-header">
       <button type="button" class="close show-close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h3> Add Review for "<%=Tour.find(booking.tour_id).title%>"</h3>
    </div>
    <div class="modal-body">

      <div id="review-form-<%=booking.id%>">
        <%= render "review_form", {review: review, tour: tour, booking: booking}%>
      </div>
    </div>
  </div>
</div>
</div>

