<% reviews_full = Review.where(tour_id: tour.id) %>
<%ratings = []%>
<%reviews_full.each do |review|%>
  <%ratings << review.rating %>
<%end%>
<%if ratings.any? %>
  <%average_rating = ratings.sum / ratings.size%>
<%else%>
  <%average_rating = 0 %>
<%end%>


<div class="message">
  <%= image_tag(tour.photo.url(:thumnail), class: "message-small") %>
  <div class="message-name">
    <p>Category: <%=tour.category%></p>
    <p>Created at:<br> <%=tour.created_at.strftime("%b %e, %l:%M %p")%></p>
    <p>Price <%=tour.price%>€</p>
  </div>
  <div class="message-body">
    <p><strong><%=tour.title%></strong></p>
    <!--
    <p>
     bla
    </p>
     -->
  </div>
  <div class="message-rating">
    <div class="rating">
    <% (average_rating.to_i).times do%>
      <div class="full-star">★</div>
    <% end %>
    <% (5-average_rating.to_i).times do%>
      <div class="emtpty-star">☆</div>
    <% end %>
    </div>
  </div>
  <div class="message-status">
    <span id='status-<%=tour.id%>'>
      <% if tour.active?%>
        <p class="status active">Active</p>
        <p>
          <%= link_to "change to inactive", change_status_tour_path(tour), method: :POST ,remote: true %>
        </p>
      <%else%>
        <p class="status inactive">Inactive</p>
        <p>
        <%= link_to "change to active", change_status_tour_path(tour), method: :POST ,remote: true %>
        </p>
      <%end%>
    </span>
  </div>


  <div class="message-edit-link">
    <%=link_to edit_tour_path(tour) do %>
    <div class="arrow-right">
    </div>
    <%end%>
  </div>
</div>
