<div class="message">
  <%= image_tag(tour.photo.url(:thumnail), class: "message-small") %>
  <div class="message-name">
    <p>Category: <%=tour.category%></p>
    <p>Created at:<br> <%=tour.created_at.strftime("%b %e, %l:%M %p")%></p>
    <p>Price <%=tour.price%>€</p>
  </div>
  <div class="message-body">
    <p><strong><%=tour.title%></strong></p>
    <!--
    <p>
     bla
    </p>
     -->
  </div>
  <div class="message-rating">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="far fa-star"></i>
    <i class="far fa-star"></i>
  </div>
  <div class="message-status">
    <p class="status active">Active</p>
  </div>
  <div class="message-edit-link">
    <%=link_to edit_tour_path(tour) do %>
    <div class="arrow-right">
    </div>
    <%end%>
  </div>
</div>
