<div class="container">
    <div class="dashboard">
        <ul class="nav nav-pills">
          <li class="active"><a data-toggle="pill" href="#tours"">My Tours</a></li>
          <li><a data-toggle="pill" href="#bookings">Bookings-Host</a></li>
          <li><a data-toggle="pill" href="#bookings-guest">Bookings-Guest</a></li>
        </ul>

        <div class="tab-content">
          <div id="tours" class="tab-pane fade in active">
            <%= link_to "Add New Tour", new_tour_path, class: "btn btn-form-blue new-tour-margin" %>
            <%= link_to "See Other Tours", tours_path, class: "btn btn-form-inv-blue back-to-tours" %>
            <% @tours.each do |tour| %>
              <%= render "shared/tour", tour: tour %>
            <%end%>
          </div>
          <div id="bookings" class="tab-pane fade">
            <% @bookings_filtered.each do |booking| %>
              <%= render "shared/booking_host", booking: booking %>
            <%end%>
          </div>
          <div id="bookings-guest" class="tab-pane fade">
            <% @bookings_guest.each do |booking_guest| %>
              <%= render "shared/booking_guest", booking: booking_guest %>
            <%end%>
          </div>
        </div>
    </div>
</div>
