<div class="form-wrapper">
  <div class="form-background" ></div>
  <div class="form-container col-sm-5">
    <div class="form-card">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :guide, label: 'I am a Tour Guide' %>
          <%= f.input :first_name, autofocus: true %>
          <%= f.input :last_name %>
          <p><strong>Profile picture</strong></p>
          <label class="btn btn-back-pnk btn-edit-photo">
          Choose file
          <span style="display:none;">
            <%= f.input :photo, id: "edit-upload-photo", input_html: {onchange: "selectFile(this);"} %>
          </span>
          </label>
          <div id="filname-edit"> </div>
          <%= f.input :photo_cache, as: :hidden %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
        <%= f.input :password_confirmation, required: false %>
        <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update", :class=> "btn-form-blue" %>
        <hr>
      </div>
      <% end %>

      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    </div>
  </div>
</div>

<% content_for :external_script do  %>
<script>

function selectFile(event) {
  // User cancelled
  console.log(event.value)
  text = event.value.replace("C:\\fakepath\\", "")
  console.log(text)
  var label = document.getElementById("filname-edit")
  label.innerHTML = 'Selected file: ' + text
}

</script>
<%end%>
