<div class="message" data-booking-id="<%= booking.id %>">
  <%  if User.find(booking.user_id).photo.url != nil %>
  <%= image_tag User.find(booking.user_id).photo.url(:thumnail), :class => "avatar avatar-border-turqoise" %>
  <% else %>
  <i class="far fa-user avatar-border-turqoise-i" style="font-size: 24px"></i>
  <% end %>
  <div class="message-name">
    <h3> Guide: <%= User.find(booking.tour.user_id).first_name%></h3>
    <p> <%=booking.created_at.strftime("%b %e, %l:%M %p")%></p>
  </div>
  <div class="message-body">
    <p><strong><%=Tour.find(booking.tour_id).title%></strong></p>
    <p>
      (Message)
    </p>
  </div>
  <%if booking.status == nil || "accepted"%>
  <div class="message-status">
    <p class="status accepted">Booked</p>
  <%end%>
    <p class="message-price"><%=(Tour.find(booking.tour_id)).price.to_i%>€</p>
    <%= link_to tour_booking_path(Tour.find(booking.tour_id), booking), method: :delete,remote: true, :class => "message-link" do %>
    <i class="far fa-trash-alt"></i>
    <%end%>
  </div>
</div>
