<% if tour.id != nil %>
<div class="card ">
  <% if tour.photo.url != nil %>
  <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0)), url(<%=tour.photo.url(:thumnail)%>);">
    <%else%>

    <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0)), url(http://via.placeholder.com/500x500);">
      <%end%>
      <!-- <span class="card-category">Tour category</span> -->
     <!--  <div class="card-description">
        <h2><%= tour.title %></h2>
      </div> -->
      <% if tour.user.photo.url == nil %>
      <i class="far fa-user card-user avatar-border-white-i"></i>
      <% else %>
      <%= image_tag tour.user.photo.url(:thumnail), :class => "far fa-user card-user avatar-small avatar-border-white"%>
      <% end %>
      <%=link_to tour_path(tour) do %>
      <div class="card-footer">
        <span class="card-category"><%=tour.category%></span>
        <div class="center-title"><h2><%= tour.title %></h2></div>

      <!-- <div class="rating rating-cards">
        <% (@average_rating.to_i).times do%>
        <div class="full-star">★</div>
        <% end %>
        <% (5-@average_rating.to_i).times do%>
        <div class="emtpty-star">☆</div>
        <% end %>
      </div> -->

        <div class="card-location"><p><i class="fas fa-map-marker"></i><%= tour.locations.first.address %></p></div>

        <div class="card-price">
        <p><i class="fas fa-euro-sign"></i><%= tour.price %></p></div>

        <div class="card-time">
          <p><i class="fas fa-clock"></i><%= tour.duration %>h</p></div>
      </div>
      <%end%>
    </div>
  </div>
  <%end%>
