
<div class="banner">

  <div class="banner-content">
    <div class="logo-in-line"> <%= image_tag "logo1.png", class: "logo" %> </div>
    <h1>SAGA</h1>
    <p class="description">Discover the unexpected</p>

<div class="button"> <%= link_to "Discover a Tour", tours_path, class: "text-center create-button-pink border-radius" %></div>
   <div>
    <% if current_user == nil %>
    <%= link_to "Create a Tour", root_path, class: "text-center create-button-new border-radius"  %>
    <%= link_to "Login", new_user_session_path, class: "text-center create-button-login1 border-radius"  %>

    <%= link_to "Sign Up", new_user_registration_path, class: "text-center create-button-sign-up1 border-radius"  %>
    <% else %>
    <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "text-center create-button-logout border-radius"  %>
    <% end %>
</div>

  </div>
  <div>
  <%= video_tag "lisbon1.mp4", autoplay: "true", loop: "true", muted: true, id: "video-background" %>
  </div>
</div>

<% content_for :external_script do %>
<script>
const video = document.getElementById('video-background');

video.playbackRate = 0.7;
</script>
<%end%>

