
<div class="banner">

  <div class="banner-content">
    <div class="logo-in-line"> <%= image_tag "logo1.png", class: "logo" %> </div>
    <h1>SAGA</h1>
    <p class="description">Discover the unexpected</p>

<div class="home-btn-positions"> <%= link_to "Discover a tour", tours_path, class: "text-center btn-main-pnk" %></div>
   <div>
    <% if current_user == nil %>
    <%= link_to "Create a tour", root_path, class: "text-center btn-home-white create"  %>
    <%= link_to "Login", new_user_session_path, class: "text-center btn-home-white login-tourist"  %>

    <%= link_to "Sign Up", new_user_registration_path, class: "text-center btn-home-white sign-up-tourist"  %>
    <% else %>
    <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "text-center btn-home-white logout-home"  %>


    <% end %>
</div>

  </div>
 <div class="video-wrapper">
  <%= video_tag "lisbon1.mp4", autoplay: "true", loop: "true", muted: true, id: "video-background" %>
  </div>
</div>

<% content_for :external_script do %>
<script>
const video = document.getElementById('video-background');

video.playbackRate = 0.7;
</script>
<%end%>

