<%= simple_form_for @tour, remote: true, defaults: { label_html: {:class => "modal-label"} } do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description, as: :text, :input_html => {:rows => 6} %>
    <%= f.input :category, label: "Category", :collection => Tour::CATEGORIES %>
    <%= f.input :price, label: "Price (€)", class: "noscroll" %>
    <%= f.input :duration, label: "Duration (hours)", class: "noscroll" %>

    <div class="modal-label add-picture-label">Add a picture</div>
    <label class="btn btn-back-pnk btn-edit-photo">
    Choose file
    <span style="display:none;">
    <%= f.input :photo, id: "edit-upload-photo", input_html: {onchange: "selectFile(this);"} %>
    </span>
    </label>
  <div id="filname-edit" class="modal-label"></div>
  </div>
  <br>
  <hr>
  <div class="form-actions">
  <%= f.button :submit, "Submit Tour for Review", class: "btn-main-pnk" %>
  </div>
<% end %>


<% content_for :external_script do  %>
  <script>

  function selectFile(event) {
    // User cancelled
    console.log(event.value)
    text = event.value.replace("C:\\fakepath\\", "")
    console.log(text)
    var label = document.getElementById("filname-edit")
    label.innerHTML = 'Selected file: ' + text
  }

  document.addEventListener("mousewheel", function(event){
    if(document.activeElement.type === "integer" &&
       document.activeElement.classList.contains("noscroll"))
    {
        document.activeElement.blur();
    }
});

  </script>
<%end%>
