<div class="modal-header modal-header-edit-tour-page">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h2 class="modal-title" id="bookNowModalLabel">
    <%= "Edit Location #{@location.position}: #{@location.address}"  %>
  </h2>
</div>

<div class="modal-body modal-body-edit-tour-page" >

  <%= simple_form_for [@tour, @location], remote: true, defaults: { label_html: {:class => "modal-label"} } do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.input :address %>
  <%= f.input :story, as: :text %>

  <%= f.input :question %>
  <%= f.input :hint %>
  <%= f.input :answer %>
</div>
<div class="modal-footer">
  <%= f.submit "Save location", class: "btn-main-pnk btn-modal-bottom-left" %>
  <% end %>

  <%= link_to tour_location_path(@tour, @location), class: "btn-back-pnk btn-modal-bottom-right", method: :delete, data: {confirm: 'Are you sure you want to delete this location?'} do %>
  <i class="far fa-trash-alt"></i>
  <% end %>
</div>
