<div class="modal-header modal-header-edit-tour-page">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h2 class="modal-title" id="bookNowModalLabel">
    <%= "Edit Location #{location.position}: #{location.address}"  %>
  </h2>
</div>

<div class="modal-body modal-body-edit-tour-page" >

  <%= simple_form_for [@tour, location], remote: true, defaults: { label_html: {:class => "modal-label"} } do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.input :address, as: :string, readonly: true, hint: "You can't change the address of a saved location. Feel free to remove it, if you don't want to include it anymore." %>
  <%= f.input :story, as: :text, :input_html => {:rows => 7}, placeholder: "Example for Miradouro de Sophia de Mello Breyner Andresen: \nThere are many viewpoints like these around Lisbon. The Portuguese name for these viewpoints is Miradouro, which can be translated to 'view of gold'. This viewpoint was named after Sophia de Mello Breyner Andresen, a famous Portuguese poet from the 20th century. She passed away in 2004 and is the second woman to ever receive National Pantheon honours by the Portuguese parliament." %>

  <%= f.input :question, as: :text, :input_html => {:rows => 2}, placeholder: "Walk down from the viewpoint until you find a shop famous for it's wine and cheese. On what house number are you allowed to enter?" %>
  <%= f.input :hint, placeholder: "Look for Graça do Vinho. It has two house numbers, but only one is a door." %>

  <div class="form-row">
    <div class="form-group col-md-4 form-group-left">
      <%= f.input :answer, placeholder: "10B", hint: "Keep answers short and sweet."  %>
    </div>
  </div>
</div>
<div class="modal-footer modal-footer-edit-tour-page">
  <%= f.submit "Save location", class: "btn-main-pnk" %>
  <% end %>
  <div class="push-box"></div>
  <%= link_to tour_location_path(@tour, location), class: "btn-back-pnk", method: :delete, data: {confirm: 'Are you sure you want to delete this location?'} do %>
  <i class="far fa-trash-alt"></i>
  <% end %>
</div>
