<div class="map-wrapper">
  <div class="map-container-full-page">
    <div id="map"
      style="width: 100%;
      height: 100%;"
      data-markers="<%= @markers.to_json %>"
    ></div>
  </div>

  <div class="edit-tour-menu">
    <div class="searchbox">
      <%= simple_form_for([@tour, @location]) do |f| %>

        <label for="address">Add Location</label>
        <%= f.input :address, label: false, wrapper_html: {class: "form-inline"} do %>
          <%= f.input_field :address, label: false %>
          <%= f.button :submit, "+", :class => "form-button" %>
        <% end %>
      <% end %>
    </div>

    <p><strong>Locations</strong></p>

    <div id="locations-list">
      <ul class="list-unstyled">
        <% @locations_ordered.each do |location| %>
          <div class="location-box" location-id="<%= location.id %>">
            <li>
              <div class="location-link">
                <%= link_to "", data: {toggle: "modal", target: "#editLocation#{location.id}"} do %>
                  <%= truncate "#{location.position}: #{location.address}", length: 40 %>
                <% end %>
              </div>
              <div class="location-icons">
                <i class="fas fa-bars"></i>
                <%= link_to tour_location_path(@tour, location), method: :delete, data: {confirm: 'Are you sure you want to delete this location?'} do %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
              </div>
            </li>
          </div>
        <% end %>
      </ul>
    </div>

  </div>



</div>



<!-- MODAL -->

<% @locations_ordered.each do |location| %>

  <div class="modal fade" id= <%= "editLocation#{location.id}" %> tabindex="-1" role="dialog" aria-labelledby="editLocationLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="bookNowModalLabel">
            Edit Location
          </h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <%= simple_form_for [@tour, location] do |f| %>
            <%= f.input :address %>
            <%= f.input :position %>
            <%= f.input :story, as: :text %>

            <%= f.input :question %>
            <%= f.input :hint %>
            <%= f.input :answer %>
            <%= f.submit "Edit location" %>
          <% end %>

        </div>
      </div>
    </div>
  </div>

<% end %>
