<div class="map-wrapper">
  <div class="map-container-full-page">
    <div id="map-markers"
      style="width: 100%;
      height: 100%;"
      data-markers="<%= @markers.to_json %>"
    ></div>
  </div>

  <div class="edit-tour-menu">
    <div class="menu-label">Add Location</div>
    <div class="add-location-form">
      <%= simple_form_for [@tour, @location], html: { class: "form-inline"} do |f| %>
          <%= f.input :address, label: false %>
          <%= f.button :submit, "+", class: 'searchbox-edit-submit' %>
      <% end %>
    </div>

    <div class="menu-label">Locations</div>

    <ul class="list-unstyled">
      <div id="locations-list">
        <% @locations_ordered.each do |location| %>
            <%= render location  %>
        <% end %>
      </div>
    </ul>

    <%= link_to "Finalize Tour", "", data: {toggle: "modal", target: "#updateTour"}, class: "btn-main-pnk btn-edit-tour-menu text-center" %>
  </div>
</div>

<!-- EDIT LOCATION MODAL -->

<% @locations_ordered.each do |location| %>

<div class="modal fade" id= <%= "editLocation#{location.id}" %> tabindex="-1" role="dialog" aria-labelledby="editLocationLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="bookNowModalLabel">
          Edit Location
        </h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <%= simple_form_for [@tour, location] do |f| %>
          <%= f.input :address %>
          <%= f.input :story, as: :text %>

          <%= f.input :question %>
          <%= f.input :hint %>
          <%= f.input :answer %>
          <%= f.submit "Edit location" %>
        <% end %>

      </div>
    </div>
  </div>
</div>

<% end %>

<!-- UPDATE TOUR MODAL -->

<div class="modal fade" id= "updateTour" tabindex="-1" role="dialog" aria-labelledby="updateTour" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h2 class="modal-title">
          Finalize Tour
        </h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body" id="updateTourModalBody">
        <%= render 'updatetourform' %>
      </div>

    </div>
  </div>
</div>

<% content_for :external_script do %>
<script>

    var locations = document.getElementsByClassName("location-box");

    function markBlue(i) {
        map.markers[i].setIcon({
             url: 'https://raw.githubusercontent.com/Concept211/Google-Maps-Markers/master/images/marker_blue.png'
        })
      }

    function markRed(i) {
        map.markers[i].setIcon({
          url: 'https://raw.githubusercontent.com/Concept211/Google-Maps-Markers/master/images/marker_red.png'
        })
      }

    Array.from(locations).forEach(function(location, index) {
      location.addEventListener("mouseover", function() {
        markBlue(index)
      });
    });

    Array.from(locations).forEach(function(location, index) {
      location.addEventListener("mouseout", function() {
        markRed(index)
      });
    });

  </script>
<% end %>
