<div class="map-wrapper">
  <div class="map-container-full-page">
    <div id="map-markers"
      style="width: 100%;
      height: 100%;"
      data-markers="<%= @markers.to_json %>"
    ></div>
  </div>

  <div class="edit-tour-menu">
    <div class="menu-label">Add Location</div>
    <div class="add-location-form">
      <%= simple_form_for [@tour, @location], html: { class: "form-inline"} do |f| %>
          <%= f.input :address, label: false %>
          <%= f.button :submit, "+", class: 'searchbox-edit-submit' %>
      <% end %>
    </div>

    <div class="menu-label">Locations</div>

    <ul class="list-unstyled">
      <div id="locations-list">
        <% @locations_ordered.each do |location| %>
            <%= render location  %>
        <% end %>
      </div>
    </ul>

    <%= link_to "Instructions", "", data: {toggle: "modal", target: "#instructions"}, class: "btn-back-pnk btn-edit-tour-menu-left text-center" %>

    <%= link_to "Finalize Tour", "", data: {toggle: "modal", target: "#updateTour"}, class: "btn-main-pnk btn-edit-tour-menu-right text-center" %>
  </div>
</div>

<!-- EDIT LOCATION MODALS -->

<div id="location-modals">
  <% @locations_ordered.each do |location| %>
    <%= render 'editLocationModal', {tour: @tour, location: location} %>
  <% end %>
</div>

<!-- UPDATE TOUR MODAL -->

<%= render 'editTourModal' %>

<!-- INSTRUCTIONS MODAL -->

<%= render 'instructionsModal' %>

<!-- EXTERNAL JS -->

<% content_for :external_script do %>
<script>

    var locations = document.getElementsByClassName("location-box");

    function markBlue(i) {
        map.markers[i].setIcon({
             url: 'https://raw.githubusercontent.com/Concept211/Google-Maps-Markers/master/images/marker_blue.png'
        })
      }

    function markRed(i) {
        map.markers[i].setIcon({
          url: 'https://raw.githubusercontent.com/Concept211/Google-Maps-Markers/master/images/marker_red.png'
        })
      }

    Array.from(locations).forEach(function(location, index) {
      location.addEventListener("mouseover", function() {
        markBlue(index)
      });
    });

    Array.from(locations).forEach(function(location, index) {
      location.addEventListener("mouseout", function() {
        markRed(index)
      });
    });

  </script>
<% end %>
