
 <div class="filter-bar">


    <div class="filter-box-element">
    <%= form_tag tours_path, method: :get, remote: true do %>
    <input type="hidden" id="searchquery" name="search" value=<%= params[:search] %>>
      <label for="category">Category</label>
      <select id="category" name="category" placeholder="Category" class="input-box no-margin">
        <option></option>
        <% Tour::CATEGORIES.each do |category| %>
        <option><%= category %></option>
        <% end %>
      </select>
    </div>

    <div class="location-search">
      location
    </div>

    <div class="duration-search" >
      <label for="duration">Duration</label>
      <input id="duration" name="duration" type="range" min="0" max="<%= @max_duration %>" value="<%= @max_duration %>" >
    </div>

    <div class="price-search">
      <label for="price">Price</label>
      <input id="price" name="price" type="range" min="0" max= "<%= @max_price %>"value = "<%= @max_price %>" >
    </div>
      <div class="filter-box-element">
        <input type="submit" value="Apply filters" class="btn-filter">
      </div>

    <%end%>
</div>


  <div class="flex-container">
    <div class="map-container" id="map-id">
      <%= render 'map' %>
    </div>

    <div class="card-wrapper">
      <div class="row" id="cardsgrid">
        <%= render 'cardsgrid' %>
      </div>
    </div>
  </div>
<% content_for :external_script do  %>
  <script>

  </script>
<% end %>

