
 <div class="filter-bar">


    <div class="filter-box-element">
    <%= form_tag tours_path, method: :get, remote: true do %>
    <input type="hidden" id="searchquery" name="search" value=<%= params[:search] %>>
      <label for="category">Category</label>
      <select id="category" name="category" placeholder="Category" class="input-box no-margin">
        <option value="" disabled selected>select category</option>
        <% Tour::CATEGORIES.each do |category| %>
        <option><%= category %></option>
        <% end %>
      </select>
    </div>

    <div class="location-search">
      <label for="location">Location</label>
       <input id="location" type="text" name="location" placeholder="Lisbon"><br>
    </div>

    <div class="duration-search" >
      <label for="duration" id="textDuration" >Duration: <%= @max_duration %>h</label>
      <input id="duration" name="duration" type="range" min="0" max="<%= @max_duration %>" value="<%= @max_duration %>" onchange="updateDurationInput(this.value);" >
    </div>

    <div class="price-search">
      <label for="price" id="textPrice" >Price: <%= @max_price %>€</label>
      <input id="price" name="price" type="range" min="0" max= "<%= @max_price %>"value = "<%= @max_price %>" onchange="updatePriceInput(this.value);" >
    </div>
      <div class="filter-button-element">
        <input type="submit" value="Apply filters" class="btn-filter">
        <button type="button" class="btn-filter" onClick="window.location.reload();">Reset filters</button>
      </div>

    <%end%>
</div>


  <div class="flex-container">
    <div class="map-container" id="map-id">
      <%= render 'map' %>
    </div>

    <div class="card-wrapper">
      <div class="row" id="cardsgrid">
        <%= render 'cardsgrid' %>
      </div>
    </div>
  </div>
<% content_for :external_script do  %>
  <script>
    function updatePriceInput(val) {
          document.getElementById('textPrice').innerHTML='Price: '+val+'€';

        }
    function updateDurationInput(val) {
          document.getElementById('textDuration').innerHTML='Duration: '+val+'h';
          console.log(val)
        }
  </script>
<% end %>

