
<div class="show-container">

    <% if @tour.locations.first.photo.url != nil %>
  <div class="gallery" style="background-image: linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0)), url(<%= @tour.locations.first.photo%>);">
    <%else%>

    <div class="gallery" style="background-image: linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0)), url(http://via.placeholder.com/500x500);">
      <% end %>
    <div class="nxt-right"><i class="fas fa-chevron-circle-right fa-3x"></i></div>
    <div class="nxt-left"><i class="fas fa-chevron-circle-left fa-3x"></i></div>
    <%= link_to "Back", tours_path, :class => "btn-back-pnk show-back" %>
  </div>
</div>

  <div class="left-footer">
    <h1><%= @tour.title.capitalize %></h1>
    <p><%= @tour.description.capitalize %></p>
  </div>

  <div class="right-footer">
    <p>Price: <%= @tour.price %></p>
    <p>Duration: <%= @tour.duration %></p>
    <p>Reviews: </p>
    <a href="/"><i class="fas fa-star"></i></a>
<%= link_to "Book", tours_path, :class => "btn-main-pnk show-book" %>
  </div>
</div>

