
<div class="show-container">
  <div class="gallery">

    <div class="nxt-right"><i class="fas fa-chevron-circle-right fa-2x"></i></div>
    <div class="nxt-left"><i class="fas fa-chevron-circle-left fa-2x"></i></div>
  </div>

  <div class="left-footer">
    <h1><%= @tour.title.capitalize %></h1>
    <h2>Description</h2>
    <p><%= @tour.description.capitalize %></p>
  </div>

  <div class="right-footer">
    <p>Price: <%= @tour.price %></p>
    <p>Duration: <%= @tour.duration %></p>
    <p>Reviews: </p>
    <a href="/"><i class="fas fa-star"></i></a>
  </div>
</div>

<%= link_to "Back", tours_path, :class => "btn-back-pnk show-back" %>
<%= link_to "Book", tours_path, :class => "btn-main-pnk show-book" %>

